{{ enqueue_comments_scripts() }}

<section class="comments" id="comments" itemprop="comment">

	<h2 class="comments__heading">Komentáře</h2>

	{% if comment.status == 'spam' %}
		<div class="comments__error">Váš komentář vypadá jako spam. Buď děláte něco, co nemáte, nebo se náš hlídací robot hrozně spletl. Pokud myslíte, že to je chyba, tak nám prosím dejte vědět.</div>
	{% endif %}

	<form action="{{ site.url }}/wp-comments-post.php" method="post" class="comments__form form is-left_aligned" role="form">
		<input type="hidden" name="comment_post_ID" value="{{ post.id }}" />
		<input type="hidden" name="redirect_to" value="{{ post.permalink }}" />

		<div class="form__input_wrap">
			{#<label class="form__label" for="zprava">Napište mi komentář:</label>#}
			<textarea
					class="form__input is-textarea"
					name="comment"
					id="zprava"
					required="required"
					data-js-hidden_source="comments"
					data-js-social_login="textarea"
					placeholder="Napište komentář" >{{ comment.message }}</textarea>
		</div>

		<div class="form__hidden" data-js-hidden_target="comments">
			{{ enqueue_js_social_login() }}
			{% if is_user_logged_in %}

				<div class="form__input_wrap is-note">
					(Jste přihlášeni jako <strong>{{ user.name }}</strong>.)
				</div>

			{% else %}
				<div class="form__input_wrap">
					<label class="form__label" for="jmeno">Jméno:</label>
					<input class="form__input" type="text" id="jmeno" name="author" required value="{{ comment.author }}"/>
				</div>

				<div class="form__input_wrap">
					<label class="form__label" for="email">E-mail:</label>
					<div class="form__input_note">Na e-mail vám budou chodit upozornění na nové zprávy. Váš e-mail nebudeme nikde veřejně zobrazovat.</div>
					<input class="form__input" type="email" id="email" name="email" value="{{ comment.author_email }}" required/>
				</div>

				<div class="form__input_wrap">
					<div class="form__label">Nebo se přihlásit přes <button data-js-social_login="button" class="form__facebook_button"><svg class="form__facebook_button__logo" aria-label="Facebook"><use xlink:href="#icon-facebook"></use></svg></button></div>
					<div class="form__input_note" style="display: none;" data-js-social_login="oneall_container">
						Prosím potvrďte tímto tlačítkem:
						{#{{ function( 'oa_social_login_add_javascripts' ) }} this will be loaded via our JS #}
						{% filter shortcodes %}[oa_social_login]{% endfilter %}
					</div>
				</div>

			{% endif %}

			<div style="display: none;">{{ function( 'subscribe_reloaded_show' ) }}</div>

			<div class="form__input_wrap is-submit">
				<button type="submit" name="submit" class="form__submit">Odeslat</button>
			</div>

		</div>

	</form>

	{% import _self as macros %}
	{% macro comment_item( macros, date, author, content, children, avatar, comment_id ) %}
		<div class="comments__item" id="comment-{{ comment_id }}" itemscope itemtype="https://schema.org/Comment">
			<img src="{{ avatar }}" alt="{{ author }} avatar" class="comments__item__avatar">
			<div class="comments__item__content">
				<div class="comments__item__content__heading">
					<time class="comments__item__content__heading__date" itemprop="dateCreated">{{ date | date( 'd.m.Y' ) }}</time>
					od <strong itemprop="author">{{ author }}</strong>
				</div>
				<div class="comments__item__content__message" itemprop="text">
					{{ content | wpautop }}
				</div>
				{% for comment in children %}
					{{ macros.comment_item( macros, comment.date, comment.author, comment.content, comment.children, comment.avatar( 50 ), comment.comment_ID ) }}
				{% endfor %}
			</div>
		</div>
	{% endmacro %}

	{% for comment in post.comments %}
		{{ macros.comment_item( macros, comment.date, comment.author, comment.content, comment.children, comment.avatar( 50 ), comment.comment_ID ) }}
	{% endfor %}


</section>