{% extends 'master.twig' %}

{% block main_content %}

	<section class="main_content" role="main">

		{% block cats %}
			{% if cats %}
				<nav class="main_content__cat_list" itemscope itemtype="https://schema.org/SiteNavigationElement">
					<div class="main_content__cat_list__caption">Kategorie:</div>
					{% for cat in cats %}
						<a class="main_content__cat_list__item{% if cat.current %} is-active{% endif %}" href="{{ cat.link }}" itemprop="name url">{{ cat.name }}</a>
					{% endfor %}
				</nav>
			{% endif %}
		{% endblock %}

		{% if posts %}
			<div class="main_content__thumb_list">
				{% for post in posts %}

					<a href="{{ post.link }}" class="main_content__thumb_list__item captioned_image is-hoverable" itemscope itemtype="https://schema.org/Article">
						<meta itemprop="url" content="{{ post.link }}"/>
						<meta itemprop="name" content="{{ post.title }}"/>
						{% set image_data = responsive_image_square( post.featured_image ) %}
						{#<!-- max width: 503px -->#}
						<img alt="{{ post.title }}"
						     srcset="{{ image_data.srcset }}"
						     sizes="(max-width: 580px) 100vw, (max-width: 860px) 50vw, (max-width: 1024px) 34vw, (max-width: 1297px) calc( ( 100vw - 258px ) / 3 ), 341px"
						     width="{{ image_data.width }}" height="{{ image_data.height }}"
						     class="captioned_image__image"
						     itemprop="image" />
						<div class="captioned_image__caption">
							<span class="captioned_image__caption__heading">{{ post.title }}</span>
							{% block item_subheading %}
								<span class="captioned_image__caption__subheading">
									{% if post.terms('blog_category') %}
										{{ post.terms('blog_category')|join(', ') }}<br>
									{% endif %}
									<time itemprop="dateCreated" datetime="{{ post.post_date|date('Y-m-d') }}">{{ post.post_date|date }}</time>
								</span>
							{% endblock %}

						</div>
					</a>
				{% endfor %}

			</div>
		{% endif %}

	</section>

{% endblock %}