{% extends 'master.twig' %}

{% block main_content %}

	<section class="main_content" role="main">

		{% if cats %}
			<nav class="main_content__cat_list" itemscope itemtype="https://schema.org/SiteNavigationElement">
				<div class="main_content__cat_list__caption">Kategorie:</div>
				{% for cat in cats %}
					<a class="main_content__cat_list__item" href="{{ cat.link }}" itemprop="name url">{{ cat.name }}</a>
				{% endfor %}
				{#<a class="main_content__cat_list__item is-active" href="" itemprop="name url">Zatopený lom</a>#}
			</nav>
		{% endif %}

		{% if posts %}
			<div class="main_content__thumb_list">
				{% for post in posts %}

					<a href="{{ post.link }}" class="main_content__thumb_list__item captioned_image is-hoverable" itemscope itemtype="https://schema.org/Article">
						<meta itemprop="url" content="{{ post.link }}"/>
						<meta itemprop="name" content="{{ post.title }}"/>
						{% set image_data = responsive_image_square( post.image_for_archive ) %}
						{#<!-- max width: 503px -->#}
						<img alt="{{ post.title }}"
						     srcset="{{ image_data.srcset }}"
						     sizes="(max-width: 580px) 100vw, (max-width: 860px) 50vw, (max-width: 1024px) 34vw, (max-width: 1297px) calc( ( 100vw - 258px ) / 3 ), 341px"
						     width="{{ image_data.width }}" height="{{ image_data.height }}"
						     class="captioned_image__image"
						     itemprop="image" />
						<div class="captioned_image__caption">{{ post.title }}
							{% if post.terms('portfolio_category') %}<br/><span>{{ post.terms('portfolio_category')|join(', ') }}</span>{% endif %}
						</div>
					</a>
				{% endfor %}

			</div>
		{% endif %}

	</section>

{% endblock %}