<!doctype html>
<html lang="cs_CZ" itemscope itemtype="https://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="image" content="{{ theme.uri }}/images/logo.png"/>
	<meta itemprop="url" content="{{ canonical_url }}"/>
	<meta itemprop="description" content="{{ seo_description }}"/>

	<title itemprop="name">{{ wp_title }}</title>

	{{ wp_head }}

	<script>
		var ajax = new XMLHttpRequest();
		ajax.open("GET", "{{ theme.uri }}/assets/images/svg_sprite.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.createElement("div");
			div.style.display = 'none';
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>

	{% include '_favicons.twig' %}

</head>
<body>

<div class="page_wrap">

	<button class="mobile_menu_button" aria-controls="main_header" data-js-menu_button><svg aria-label="Otevřít menu"><use xlink:href="#icon-menu"></use></svg></button>

	<aside class="mobile_header" data-js-mobile_header>
		<a href="{{ site.url }}" class="mobile_header__logo"><svg aria-label="Linnette Logo"><use xlink:href="#icon-logo_mobile"></use></svg></a>
	</aside>

	<header class="main_header" role="banner" id="main_header" data-js-main_header>

		<a class="main_header__logo" href="{{ site.url }}"><svg class="main_header__logo__image" aria-label="Linnette Logo"><use xlink:href="#icon-logo"></use></svg></a>

		<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>

		<nav class="main_header__nav" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
			<ul class="main_header__nav__ul">
				{% for item in main_menu.get_items %}
					<li class="main_header__nav__ul__item">
						<a href="{{ item.link }}" itemprop="name url">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>

		{% if facebook_link and instagram_link %}
			<nav class="main_header__socials">
				{% if facebook_link %}
					<a class="main_header__socials__link" href="{{ facebook_link }}">
						<svg class="main_header__socials__link__image" aria-label="Facebook"><use xlink:href="#icon-facebook"></use></svg>
					</a>
				{% endif %}
				{% if instagram_link %}
					<a class="main_header__socials__link" href="{{ instagram_link }}">
						<svg class="main_header__socials__link__image" aria-label="Instagram"><use xlink:href="#icon-instagram"></use></svg>
					</a>
				{% endif %}
			</nav>
			<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>
		{% endif %}


		<div class="main_header__copyright">&copy; 2015 Linnette.cz</div>

	</header>

	{% block main_content %}

		<article class="main_content" role="main" itemprop="mainContentOfPage">

			{% if breadcrumbs %}
				<nav class="main_content__breadcrumbs" data-js-breadcrumbs>
					<div class="main_content__breadcrumbs__wrap" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
						{% for item in breadcrumbs %}
							<a class="main_content__breadcrumbs__item" href="{{ item.url }}" itemprop="itemListElement">{{ item.title }}</a>
						{% endfor %}
					</div>
				</nav>
			{% endif %}

			{% block featured_image %}{% endblock %}

			<div class="main_content__typo">

				{% block content %}

					<h1>{{ post.title }}</h1>

					{{ post.content }}

				{% endblock %}

			</div>

		</article>

	{% endblock %}

</div>

{{ wp_footer }}

</body>
</html>