<!doctype html>
<html lang="cs_CZ" itemscope itemtype="https://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="image" content="{{ theme.uri }}/images/logo.png"/>

	<title itemprop="name">{{ wp_title }}</title>

	{{ wp_head }}

	<script>
		var ajax = new XMLHttpRequest();
		ajax.open("GET", "{{ theme.uri }}/assets//images/svg_sprite.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.createElement("div");
			div.style.display = 'none';
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>
</head>
<body>

<div class="page_wrap">

	<button class="mobile_menu_button" aria-controls="main_header" data-js-menu_button><svg aria-label="Otevřít menu"><use xlink:href="#icon-menu"></use></svg></button>

	<aside class="mobile_header" data-js-mobile_header>
		<a href="{{ site.url }}" class="mobile_header__logo"><svg aria-label="Linnette Logo"><use xlink:href="#icon-logo_mobile"></use></svg></a>
	</aside>

	<header class="main_header" role="banner" id="main_header" data-js-main_header>

		<a class="main_header__logo" href="{{ site.url }}"><svg class="main_header__logo__image" aria-label="Linnette Logo"><use xlink:href="#icon-logo"></use></svg></a>

		<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>

		<nav class="main_header__nav" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
			<ul class="main_header__nav__ul">
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Úvod</a></li>
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Portfolio</a></li>
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Retuše</a></li>
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Reference</a></li>
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Autor</a></li>
				<li class="main_header__nav__ul__item"><a href="" itemprop="name url">Kontakt</a></li>
			</ul>
		</nav>

		<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>

		<nav class="main_header__socials">
			<a class="main_header__socials__link" href=""><svg class="main_header__socials__link__image" aria-label="Facebook"><use xlink:href="#icon-facebook"></use></svg></a>
			<a class="main_header__socials__link" href=""><svg class="main_header__socials__link__image" aria-label="Instagram"><use xlink:href="#icon-instagram"></use></svg></a>
		</nav>

		<div class="divider" aria-hidden="true"><svg class="divider__image"><use xlink:href="#icon-divider"></use></svg></div>

		<div class="main_header__copyright">&copy; 2015 Linnette.cz</div>

	</header>

	{% block main_content %}

		<article class="main_content" role="main" itemprop="mainContentOfPage">

			{% if breadcrumbs %}
				<nav class="main_content__breadcrumbs" data-js-breadcrumbs>
					<div class="main_content__breadcrumbs__wrap" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
						{% for item in breadcrumbs %}
							<a class="main_content__breadcrumbs__item" href="{{ item.url }}" itemprop="itemListElement">{{ item.title }}</a>
						{% endfor %}
					</div>
				</nav>
			{% endif %}

			{% block featured_image %}{% endblock %}

			<div class="main_content__typo">

				{% block content %}

					<h1>{{ post.title }}</h1>

					{{ post.content }}

				{% endblock %}

			</div>

		</article>

	{% endblock %}

</div>


{#<script src="js/libs/picturefill.js"></script>#}
{#<script src="js/libs/modernizr.js"></script>#}

{#<script src="js/libs/jquery-2.1.3.js"></script>#}
{#<script src="js/libs/velocity.js"></script> <!-- jq -->#}
{#<script src="js/libs/enquire.js"></script>#}
{#<script src="js/libs/headroom.js"></script>#}
{#<script src="js/libs/jQuery.headroom.js"></script> <!-- jq, headroom -->#}
{#<script src="js/menu.js"></script> <!-- jq, velocity, enquire, headroom -->#}
{#<script src="js/breadcrumbs.js"></script> <!-- jq -->#}

{#<script src="js/libs/photoswipe.js"></script>#}
{#<script src="js/libs/photoswipe-ui-default.js"></script><!-- photoswipe -->#}
{#<script src="js/lightbox.js"></script><!-- jq, photoswipe-ui -->#}

{{ wp_footer }}

</body>
</html>