{% extends 'single.twig' %}

{% block featured_image_caption %}
	<figcaption class="captioned_image__caption" itemprop="caption">
		<span class="captioned_image__caption__heading">{{ post.title }}</span>
		<span class="captioned_image__caption__subheading">
			{% if post.terms('blog_category') %}
				{{ post.terms('blog_category')|join(', ') }}<br>
			{% endif %}
			<time datetime="{{ post.post_date|date('Y-m-d') }}">{{ post.post_date|date }}</time>
		</span>
	</figcaption>
{% endblock %}

{% block content %}

	{{ post.soundcloudMusicPlayer }}

	{{ post.content }}

	{{ enqueue_load_fb_like() }}
	<div class="fb_share_area">
		<div class="fb-like" data-href="{{ canonical_url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>


	<section class="related_articles" itemscope itemtype="http://schema.org/WebPage">

		<h2>Mohlo by vás zajímat</h2>

		<div class="main_content__thumb_list">

			{% for post in post.related_articles %}
				{% include '_thumb_list_captioned_image.twig' %}
			{% endfor %}

		</div>

	</section>

{% endblock %}