{% extends 'master.twig' %}

{% block featured_image %}
	{% if post.featured_image %}
		{% set image_data = responsive_image_wide( post.featured_image ) %}
		<figure class="main_content__featured_image captioned_image" itemprop="primaryImageOfPage" itemscope itemtype="https://schema.org/ImageObject">
			<img alt="{{ image_data.alt }}"
			     srcset="{{ image_data.srcset }}"
			     sizes="(min-width: 1280px) 1022px, (min-width: 1024px) calc( 100% - 228px ), 100vw"
			     width="{{ image_data.width }}" height="{{ image_data.height }}"
			     class="captioned_image__image"
			     itemprop="image"/>
			{% block featured_image_caption %}
				{% if post.featured_image_caption_1 or post.featured_image_caption_2 %}
					<figcaption class="captioned_image__caption" itemprop="caption">
						{% if post.featured_image_caption_1 %}
							<span class="captioned_image__caption__heading">{{ post.featured_image_caption_1 }}</span>
						{% endif %}
						{% if post.featured_image_caption_2 %}
							<span class="captioned_image__caption__subheading">{{ post.featured_image_caption_2 }}</span>
						{% endif %}
					</figcaption>
				{% endif %}
			{% endblock %}
		</figure>
	{% endif %}
{% endblock %}

{% block below_content %}

	{% if post.related_articles is not empty %}

		<section class="related_articles" itemscope itemtype="http://schema.org/WebPage">

			<h2>Mohlo by vás zajímat</h2>

			<div class="main_content__thumb_list">

				{% for post in post.related_articles %}
					{% include '_thumb_list_captioned_image.twig' %}
				{% endfor %}

			</div>

		</section>

	{% endif %}

{% endblock %}