{% extends 'single.twig' %}

{% block featured_image_caption %}
	<figcaption class="captioned_image__caption" itemprop="caption">
		{{ post.title }}{% if post.terms %}<br/>
		<span>{{ post.terms|join(', ') }}</span>{% endif %}
	</figcaption>
{% endblock %}

{% block content %}
	{{ post.content }}

	{{ enqueue_load_fb_like() }}
	<div class="fb_share_area">
		<div class="fb-like" data-href="{{ canonical_url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
{% endblock %}