<h3>Zákazník uzavřel výběr fotek!</h3>

<p><a href="{{ link|raw }}">{{ title }}</a></p>

<h4>Zpráva:</h4>
<p>{{ message }}</p>

<h4>Vybrané fotky:</h4>
<p>{{ selected_photos }}</p>

<h4>Počet vybraných fotek: <strong>{{ photo_count }}</strong></h4>

<p>Have fun!</p>